# Dependencies
node_modules/

# Build artifacts
dist-*/
*.js
*.js.map
*.d.ts
!.mjs.d.ts
!asset.d.ts
*.d.ts.map
!types/*.d.ts

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

*.xpi
*.zip
